.character {
    max-width: 413px;
    width: 413px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 71px;
    padding-bottom: 142px;
    color: var(--dark);
    &__subtitle {
        color: var(--light-grey);
        font-weight: 500;
        font-size: 2rem;
        margin-bottom: 50px;
        line-height: 2rem;
        text-align: center;
    }
}