@media (max-width: 1048px) {
    main {
        max-width: none;
        padding-right: 24px;
        padding-left: 24px;
        padding-top: 92px;
    }
    .title {
        font-size: 3.2rem;
        line-height: 3.2rem;
        margin: 27px 0 35px 0;
    }
}
@media (max-width: 680px) {
    .logo {
        min-height: auto;
        padding-left: 0px;
        img {
            max-width: 100%;
        }
    }
}