.modal {
    position: fixed;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -110vh;
    transition: opacity .3s ease-in-out;
    opacity: 0;
    z-index: 10;
    &_opened {
        top: 0;
        opacity: 1;
    }
    &__window {
        padding: 50px 30px;
        width: 50vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fff;
        border-radius: 8px;
        position: relative;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2),
            0px 3px 4px rgba(0, 0, 0, 0.12),
            0px 2px 4px rgba(0, 0, 0, 0.14);
        &__title {
            font-size: 2.5rem;
            font-weight: 500;
            margin-bottom: 50px;
            text-align: center;
            color: var(--black);
        }
    }
    &__close {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 30px;
        top: 30px;
        cursor: pointer;
    }
}

@media (max-width: 680px) {
    .modal {
        &__window {
            width: 80vw;
        }
    }
}